@import url('https://fonts.maateen.me/apona-lohit/font.css');  
  @import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&family=Ubuntu:wght@400;500;700&display=swap');
 @import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600&display=swap');
 @import url('https://fonts.maateen.me/apona-lohit/font.css');
*{
  font-family: 'Poppins', sans-serif;
}
/* Fixed Header */
header {
  background-color: #333;
  z-index: 9999;
}

header .logo {
  width: 60px;
  height: 46px;
}

header h4 {
  color: white;
  font-size:20px;
  font-family: 'Poppins', sans-serif;
  
}

/* Body Styles */
body {

}


.video-player-card {
  position: relative;
  width: 100%;
  max-width: 900px;
  margin: 0 auto;
  border-radius: 15px;
  overflow: hidden;
  box-shadow: 0 12px 30px rgba(0, 0, 0, 0.1);
  background-image: url('bg.png');
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: 100% 95%;
  transition: transform 0.3s ease-in-out, box-shadow 0.3s ease-in-out;
}

.video-player-card:hover {
  transform: scale(1.05);
  box-shadow: 0 18px 50px rgba(0, 0, 0, 0.4); /* Enhanced shadow effect on hover */
}

.video-player-card::before {
  content: "";
  display: block;
  padding-top: 56.25%; /* 16:9 aspect ratio */
}

.video-player {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border-radius: 10px;
}

.playlist-container {
  font-family: 'AponaLohit', sans-serif;
  margin-top: 10px;
}

.playlist-item {
  font-family: 'AponaLohit', sans-serif;
  cursor: pointer;
  padding: 15px;
  border: 1px solid #ddd;
  border-radius: 10px;
  margin-bottom: 15px;
  background-color: #fff;
  display: flex;
  align-items: center;
  transition: transform 0.2s ease, background-color 0.3s ease, box-shadow 0.3s ease;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1); /* Subtle shadow */
}

.playlist-item:hover {
  transform: translateX(10px);
  background-color: #9997; /* Lighter background on hover */
  box-shadow: 0 8px 20px rgba(0, 0, 0, 0.8); /* Slightly stronger shadow on hover */
}

.playlist-item i {
  margin-right: 15px;
  color: #ff6a88; /* Accent color for icons */
  font-size: 24px;
  transition: color 0.3s ease;
}

.playlist-item:hover i {
  color: #ff9a8b; /* Icon color changes on hover */
}

.playlist-item img {
  width: 120px; /* Medium size thumbnail */
  height: 68px;
  margin-right: 15px;
  border-radius: 8px;
  object-fit: cover;
}

.playlist-header {
  font-size: 26px;
  font-weight: 700;
  color: #333;
  margin-bottom: 25px;
  text-transform: uppercase;
  letter-spacing: 1px;
  text-align: center;
  background: linear-gradient(45deg, #ff9a8b, #ff6a88); /* Gradient header */
  -webkit-background-clip: text;
  color: transparent;
}

.playlist-scrollable {
  max-height: 300px;
  overflow-y: auto;
  margin-bottom: 20px;
  padding: 5px;
  border-radius: 10px;
}

.search-bar {
  margin-bottom: 7px;
  position: relative;
}

.search-bar input {
  width: 100%;
  padding: 12px 20px;
  font-size: 16px;
  border-radius: 25px;
  border: 1px solid #ddd;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  transition: border 0.3s ease, box-shadow 0.3s ease;
}

.search-bar input:focus {
  border-color: #ff9a8b; /* Accent color on focus */
  box-shadow: 0 4px 12px rgba(255, 106, 136, 0.3); /* Shadow on focus */
}

.suggestions-list {
  background-color: #fff;
  border: 1px solid #ddd;
  border-radius: 5px;
  max-height: 200px;
  overflow-y: auto;
  position: absolute;
  width: 100%;
  z-index: 10;
  display: none;
}

.suggestion-item {
  padding: 12px 20px;
  cursor: pointer;
  font-size: 16px;
  transition: background-color 0.3s ease, padding 0.3s ease;
}

.suggestion-item:hover {
  background-color: #ff6a88; /* Accent color on hover */
  color: #fff;
  padding-left: 30px;
}

@media (max-width: 768px) {
  .video-player-card {
    max-width: 100%;
  }

  .playlist-item img {
    width: 100px;
    height: 56px;
  }

  .search-bar input {
    font-size: 14px;
  }

  .playlist-header {
    font-size: 22px;
  }
}
.modal-content {
  background-color: #ffee93;
  color: #111;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  height: 100%;
}

.modal-title {
  font-size: 2rem;
  margin-bottom: 20px;
}

.lead {
  font-size: 1.5rem;
}

.btn-btn-info {
  background-color: #007bff; /* Green background */
  color: #ffffff; /* White text */
  border: none; /* No border */
  padding: 6px 16px; /* Padding for size */
  font-size: 16px; /* Font size */
  border-radius: 5px; /* Rounded corners */
  cursor: pointer; /* Pointer cursor on hover */
  transition: background-color 0.3s ease-in-out; /* Smooth color transition */
}

.btn-btn-info:hover {
  background-color: #0065b3; /* Darker green on hover */
}
.btn-btn-live {
  background-color: #ff0000; /* Red background */
  color: #ffffff; /* White text */
  border: none; /* No border */
  padding: 7px 17px; /* Padding for size */
  font-size: 16px; /* Font size */
  border-radius: 5px; /* Rounded corners */
  cursor: pointer; /* Pointer cursor on hover */
  transition: background-color 0.3s ease-in-out; /* Smooth color transition */
}

.btn-btn-live:hover {
  background-color: #cc0000; /* Darker red on hover */
}

/* Install notification styling */
.install-notification {
  position: fixed;
  bottom: 0;
  width: 100%;
  background-color: #333;
  color: #fff;
  text-align: center;
  padding: 1em;
  z-index: 1000;
}

.install-notification p {
  margin: 0;
  display: inline;
}

.install-notification button {
  margin-left: 10px;
}


  .icon-button {
      position: relative;
      display: flex;
      align-items: center;
      justify-content: center;
      width: 30px;
      height: 30px;
      color: #fff;
      background: #4CAF50;
      border: none;
      outline: none;
      border-radius: 50%;
      font-size: 24px;
      transition: background 0.3s ease;
    }

    @keyframes bounce {
      0% { transform: translateY(0); }
      50% { transform: translateY(-5px); }
      100% { transform: translateY(0); }
    }

    .icon-button:hover .material-icons {
      animation: bounce 0.5s infinite;
    }

    .icon-button:hover {
      cursor: pointer;
      background: #45a049;
    }

    .icon-button:active {
      background: #3e8e41;
    }

    .icon-button__badge {
      position: absolute;
      top: -10px;
      right: -10px;
      width: 15px;
      height: 15px;
      background: red;
      color: #ffffff;
      display: flex;
      justify-content: center;
      align-items: center;
      border-radius: 50%;
      font-size: 12px;
    }

    .popup {
      display: none;
      position: fixed;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      background-color: rgba(0, 0, 0, 0.5);
      z-index: 9999;
    }

    .popup-content {
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      background-color: #fff;
      padding: 20px;
      border-radius: 10px;
      box-shadow: 0 0 20px rgba(0, 0, 0, 0.3);
      max-width: 400px;
      width: 90%;
      text-align: center;
    }

    .popup-content h2 {
      color: #333;
      margin-bottom: 10px;
    }

    .popup-content p {
      color: #555;
      margin-bottom: 20px;
    }

    .popup-content button {
      background-color: #4CAF50;
      color: #fff;
      border: none;
      padding: 10px 20px;
      border-radius: 5px;
      cursor: pointer;
      transition: background-color 0.3s ease;
    }

    .popup-content button:hover {
      background-color: #45a049;
}

                footer {
            background-color: black;
            color: white;
            padding: 0px 0px;
            text-align: center;
            font-size: 6px;
            position: fixed;
            bottom: 0;
            width: 100%;
        }